@model MarketPlace.Models.Appointment.AppointmentViewModel
@{
    ViewBag.Title = "ConfirmationAppointmentView";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
@{ //get image profile
    string ImgProfile = Model.CurrentProfile.ProfileInfo.
        Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileLarge).
        Select(x => x.Value).
        DefaultIfEmpty(string.Empty).
        FirstOrDefault();
}

<div class="MPAgendaConfirmationMessageGW" id="confirmationId">

    <div class="MPAgendaDoctorProfile">
        @Html.Partial(MVC.Mobile.Shared.Views._AP_ProfileInfo, Model)
    </div>
    <img class="ImgConfirmation" src="~/Areas/Web/Content/Images/MPConfirm.png" />
    <div class="MPAgendaConfirmationMessage">
        <h3>
            Cita agendada correctamente con el <strong>Dr/a. @Model.CurrentProfile.Name @Model.CurrentProfile.LastName</strong>
            el día <strong>@Model.StartDate</strong>
            en la <strong>@Model.CurrentProfile.RelatedOffice.Where(x => x.OfficePublicId == Model.CurrentOffice).Select(x => x.Name).FirstOrDefault()</strong>
        </h3>
        <h3>
            Enviaremos la confirmación de la cita a tu correo electrónico.
            Si no la has recibido, por favor revisar en la bandeja de correos no deseados.
            Previamente a la cita te enviaremos un recordatorio por correo electrónico y/o mensaje de texto.
        </h3>
    </div>
</div>