<div class="headerMainWrapper">
    <div class="headerTopWrapper">
        <!--render autorized profiles-->
        <div class="profilesListWrapper">
            @{
                string SelDrShowName = string.Empty, selDoctorImageUrl = string.Empty;
                <select id="ddAutorizationProfiles">

                    @foreach (SessionController.Models.Profile.Autorization.AutorizationModel ua in BackOffice.Models.General.SessionModel.UserAutorization)
                    {
                        //get doctor name
                        string DrShowName = string.Empty;
                        if (!string.IsNullOrEmpty(ua.ProfileName))
                        {
                            DrShowName = ua.ProfileGender != null && !ua.ProfileGender.Value ? "Dra. " : "Dr. " + ua.ProfileName + " " + ua.ProfileLastName;
                        }
                        if (!string.IsNullOrEmpty(DrShowName))
                        {
                            DrShowName += " - ";
                        }
                        DrShowName += ua.RoleName;

                        //get doctor image url
                        string DoctorImageUrl = ua.ProfileImage;
                        if (string.IsNullOrEmpty(DoctorImageUrl))
                        {
                            DoctorImageUrl = "https://lh6.googleusercontent.com/-8MajLkkygS0/AAAAAAAAAAI/AAAAAAAAADM/FBzd750qjbg/photo.jpg";
                        }

                        string strSelected = string.Empty;
                        if (ua.Selected)
                        {
                            SelDrShowName = DrShowName;
                            selDoctorImageUrl = DoctorImageUrl;
                            strSelected = "selected='selected'";
                        }
                        <option @strSelected value="@Url.Action(MVC.Home.ActionNames.ChangeAutorizationProfile, MVC.Home.Name, new { ProfilePublicId = ua.ProfilePublicId })" data-style="background-image: url(&apos;@(DoctorImageUrl)&apos;);">
                            @DrShowName
                        </option>
                    }
                </select>
                <div id="templateAutorization" style="display:none;">
                    <div id="SelAutorization">
                        <span class="selectedProfilePicture" style="background-image: url('@(selDoctorImageUrl)');"></span>
                        <span class="selectedProfileName">@SelDrShowName hola</span>
                    </div>
                </div>

            }
        </div>
        <!--render search box-->
        <div class="searchBox">
            <input type="text" />
        </div>

        <div class="userNotificationWrapper">

            @*<ul aria-hidden="false" aria-labelledby="ddAutorizationProfiles-button" id="ddAutorizationProfiles-menu" class="ui-menu ui-widget ui-widget-content ui-corner-bottom ui-menu-icons" role="listbox" tabindex="0" aria-activedescendant="ui-id-1" aria-disabled="false" style="width: 301px;">
                <li class="ui-menu-item ui-state-focus" id="ui-id-1" tabindex="-1" role="option">
                    Administrador Sistema
                    <span style="background-image: url('https://lh6.googleusercontent.com/-8MajLkkygS0/AAAAAAAAAAI/AAAAAAAAADM/FBzd750qjbg/photo.jpg');" class="ui-icon undefined"></span>
                </li>
            </ul>*@

            <!--render notifications-->
            <div id="notificationsWrapper" class="notificationsWrapper" style="height:100%">
                    <span id="aNotifyCount"></span>                
                <div class="ui-front ui-selectmenu-open" style="top: 33px; left: 0px;">
                    <ul aria-hidden="false" aria-labelledby="ddAutorizationProfiles-button" id="ulNotificationList"
                        class="ui-menu ui-widget ui-widget-content ui-corner-bottom ui-menu-icons" role="listbox"
                        tabindex="2" aria-activedescendant="ui-id-1" aria-disabled="false" style="width: 600px;
                        display: block; left: -420%; margin-left: 20px;"></ul>
                </div>
                <ul id="NotificationTemplate" style="display:none; " class="ui-menu-item ui-state-focus">
                    <li>
                        <img src="{NotificationImage}" />
                        <label>{NotificationText}</label>
                    </li>
                </ul>
            </div>

            <!--render user options-->
            <div class="userOptionsWrapper">
                <div onclick="javascript: Header_ShowHideUserMenu('divUserMenu');">
                    @*<div class="arrowDownUserOptions"></div>*@
                    <label>@(BackOffice.Models.General.SessionModel.CurrentLoginUser.Name + " " + @BackOffice.Models.General.SessionModel.CurrentLoginUser.LastName)</label>
                    <img src="@BackOffice.Models.General.SessionModel.CurrentLoginUser.ExtraData.Where(x=>x.InfoType == SessionController.Models.Auth.enumUserInfoType.ImageProfile).Select(x=>x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()" />
                </div>
                <!--pop up user option menu-->
                <div id="divUserMenu" style="display:none;">
                    <ul>
                        <li>
                            <a href="">Opciones de Cuenta</a>
                        </li>
                        <li>
                            <a href="">Configuracio'n</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Home.ActionNames.LogOutUser, MVC.Home.Name)">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!--menu-->
    <div class="mainMenuWrapper">
        @Html.Partial(MVC.Web.Shared.Views._L_PrincipalMenu)
    </div>
</div>
<style type="text/css">
    
#ddAutorizationProfiles-button{
    border-top:1px solid #999;
    border-bottom:1px solid #999;
    border-right: none;
    border-left: none;
    display:inline-block;
    width:100% !important;
    height:34px;
    vertical-align:top;
    border-radius:0px;
    background-image:url('/Areas/Web/Content/Images/BOTopBar4.png');
    background-repeat:repeat-x;
    margin: -1px 0px 0px 0px;
    }
span.ui-selectmenu-text {
    height: 32px;
    padding: 0px 0px 0px 20px !important;
    width: 91%;
    font-family: "MuseoSans100","Trebuchet MS",Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 32px !important;
    color: #333;
}
    span.selectedProfilePicture {
        display:inline-block;
        background-size:30px 30px;
        width:30px; height:30px;
        margin-top:1px;
    }
    span.selectedProfileName {
        display:inline;
        width:50px;
        height:32px;
        font-family: "MuseoSans100","Trebuchet MS",Helvetica,sans-serif;
        font-size:14px;
        font-weight:normal;
        margin:0px;
        vertical-align:top;
    }
    span.ui-selectmenu-text:hover {
        background-color:#f2f2f2;
    }
.ui-selectmenu-open {left: 16px !important;}
#ddAutorizationProfiles-menu {
    border: 1px solid #333;
    width: 300px !important;
    height: auto;
    border-radius: 0px;
    padding:8px 0px;
    background-color:#fff !important;
    background-image:none;
}
</style>