@model List<BackOffice.Models.General.MenuModel>


<!--home icon-->
<a class="HeaderLogoSaludGuru" href="" title="SaludGuru"></a>

<!--principal menu-->
<ul class="mainMenuItemWrapper">
    @foreach (BackOffice.Models.General.MenuModel PrincipalM in Model)
    {
        switch (PrincipalM.PrincipalMenu)
        {
            case BackOffice.Models.General.enumPrincipalMenu.Administrator:
                <li class="admin">
                    <!--Este es el primer item del menu-->
                    <a href="">Administrar</a>
                </li>

                <!--Ese es el contenedor de los subitems-->
                    <ul class="subMenu">
                        <li>
                            <a href="@Url.Action(MVC.Profile.ActionNames.ProfileSearch,MVC.Profile.Name)">Perfil</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Insurance.ActionNames.InsuranceList, MVC.Insurance.Name)">Seguros medicos</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Specialty.ActionNames.SpecialtyList, MVC.Specialty.Name)">Especialidades</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Treatment.ActionNames.TreatmentList, MVC.Treatment.Name)">Tratamientos</a>
                        </li>
                    </ul>





                break;
            case BackOffice.Models.General.enumPrincipalMenu.Appointment:
            <li class="agenda">
                <a href="">Agenda</a>

                @*<div class="subMenu">
                        <ul>
                            <li>
                                <a href="">Día</a>
                            </li>
                            <li>
                                <a href="">Semana</a>
                            </li>
                            <li>
                                <a href="">Mes</a>
                            </li>
                            <li>
                                <a href="">Lista</a>
                            </li>
                            <li>
                                <a href="">Configuracion</a>
                            </li>
                        </ul>
                    </div>*@
            </li>
                break;
            case BackOffice.Models.General.enumPrincipalMenu.Dashboard:
            <li class="dashboard">
                <a href="@Url.Action(MVC.Home.ActionNames.Dashboard,MVC.Home.Name)">Dashboard</a>
            </li>
                break;
            case BackOffice.Models.General.enumPrincipalMenu.Patient:
            <li class="pacientes">
                <a href="">Pacientes</a>
            </li>
                break;
            case BackOffice.Models.General.enumPrincipalMenu.Profile:
            <li class="perfil">
                <a href="">Perfil</a>
            </li>
                break;
            default:
                break;
        }
    }
</ul>
