@model BackOffice.Models.Patient.PatientUpSertModel

<div class="BOFormDataWrapper">
    @{string UrlAction = (Model.Patient == null) ?
            Url.Action(MVC.Patient.ActionNames.PatientUpsert, MVC.Patient.Name) :
            Url.Action(MVC.Patient.ActionNames.PatientUpsert, MVC.Patient.Name, new { PatientPublicId = Model.Patient.PatientPublicId });
    }
    <form id="PatientInfoId" action="@UrlAction" method="post">
        <ul>
            <h3>Datos del Paciente</h3>
            <li>
                <label>Nombre</label>
                <input id="Name" name="Name" value="@(Model.Patient == null ? string.Empty : Model.Patient.Name)" type="text" />
            </li>
            <li>
                <label>Apellidos</label>
                <input id="LastName" class="required" name="LastName" value="@(Model.Patient == null ? string.Empty : Model.Patient.LastName)" type="text" />
            </li>
            <li>
                @{
                    var CatInfo_IT = Model.Patient == null ? null :
                        Model.Patient.PatientInfo.Where
                           (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.IdentificationType).
                           Select(x => new { id = x.PatientInfoId, val = string.IsNullOrEmpty(x.Value) ? 0 : int.Parse(x.Value.Replace(" ", "")) }).
                               DefaultIfEmpty(null).
                               FirstOrDefault();
                    if (CatInfo_IT != null)
                    {
                        <input type="hidden" id="CatId_IdentificationType" name="CatId_IdentificationType" value="@CatInfo_IT.id" />
                    }
                }
                <label>Tipo Identificación</label>
                <select id="IdentificationType" name="IdentificationType">
                    @foreach (MedicalCalendar.Manager.Models.General.ItemModel tp in
                                Model.PatientOptions.
                                Where(x => x.CatalogId == (int)BackOffice.Models.General.enumCatalog.IdentificationType).
                                OrderBy(x => x.ItemName)
                                .ToList())
                    {
                        if (CatInfo_IT != null && tp.ItemId == CatInfo_IT.val)
                        {
                            <option value="@tp.ItemId" selected="selected">@tp.ItemName</option>
                        }
                        else
                        {
                            <option value="@tp.ItemId">@tp.ItemName</option>
                        }
                    }
                </select>
            </li>

            <li>
                @{
                    var CatInfo_IN = Model.Patient == null ? null :
                        Model.Patient.PatientInfo.Where
                           (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.IdentificationNumber).
                           Select(x => new { id = x.PatientInfoId, val = x.Value }).
                               DefaultIfEmpty(null).
                               FirstOrDefault();
                    if (CatInfo_IN != null)
                    {
                        <input type="hidden" id="CatId_IdentificationNumber" name="CatId_IdentificationNumber" value="@CatInfo_IN.id" />
                    }
                }
                <label>Número Identificación</label>
                <input id="IdentificationNumber" name="IdentificationNumber" value="@(CatInfo_IN == null ? string.Empty : CatInfo_IN.val)" type="text" />
            </li>
            @{
                var CatInfo_EM = Model.Patient == null ? null :
                    Model.Patient.PatientInfo.Where
                        (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.Email).
                        Select(x => new { id = x.PatientInfoId, val = x.Value }).
                            DefaultIfEmpty(null).
                            FirstOrDefault();
                if (CatInfo_EM != null)
                {
                    <input type="hidden" id="CatId_Email" name="CatId_Email" value="@CatInfo_EM.id" />
                }
            }
            <li>
                <label>Correo electrónico</label>
                <input id="Email" name="Email" value="@(CatInfo_EM == null ? string.Empty : CatInfo_EM.val)" type="text" />
            </li>
            @{
                var CatInfo_AT = Model.Patient == null ? null :
                    Model.Patient.PatientInfo.Where
                        (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.Telephone).
                        Select(x => new { id = x.PatientInfoId, val = x.Value }).
                            DefaultIfEmpty(null).
                            FirstOrDefault();
                if (CatInfo_AT != null)
                {
                    <input type="hidden" id="CatId_Telephone" name="CatId_Telephone" value="@CatInfo_AT.id" />
                }
            }
            <li>
                <label>Teléfono</label>
                <input id="Telefono" name="Telefono" value="@(CatInfo_AT == null ? string.Empty : CatInfo_AT.val)" type="text" />
            </li>

            @{
                var CatInfo_MB = Model.Patient == null ? null :
                    Model.Patient.PatientInfo.Where
                        (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.Mobile).
                        Select(x => new { id = x.PatientInfoId, val = x.Value }).
                            DefaultIfEmpty(null).
                            FirstOrDefault();
                if (CatInfo_MB != null)
                {
                    <input type="hidden" id="CatId_Mobile" name="CatId_Mobile" value="@CatInfo_MB.id" />
                }
            }
            <li>
                <label>Teléfono móvil</label>
                <input id="Mobile" name="Mobile" value="@(CatInfo_MB == null ? string.Empty : CatInfo_MB.val)" type="text" />
            </li>
            <li>
                @{
                    var CatInfo_BD = Model.Patient == null ? null :
                        Model.Patient.PatientInfo.Where
                            (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.Birthday).
                            Select(x => new { id = x.PatientInfoId, val = x.Value }).
                                DefaultIfEmpty(null).
                                FirstOrDefault();
                    if (CatInfo_BD != null)
                    {
                        <input type="hidden" id="CatId_Birthday" name="CatId_Birthday" value="@CatInfo_BD.id" />
                    }
                }
            </li>
            <li>
                <label>Fecha de nacimiento</label>
                <input id="Birthday" name="Birthday" value="@(CatInfo_BD == null ? string.Empty : CatInfo_BD.val)" type="text" />
                <div id="divCalendar"></div>
            </li>

            <li>
                @{
                    var CatInfo_GD = Model.Patient == null ? null :
                        Model.Patient.PatientInfo.Where
                            (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.Gender).
                            Select(x => new { id = x.PatientInfoId, val = string.IsNullOrEmpty(x.Value) ? false : bool.Parse(x.Value) }).
                                DefaultIfEmpty(null).
                                FirstOrDefault();
                    if (CatInfo_GD != null)
                    {
                        <input type="hidden" id="CatId_Gender" name="CatId_Gender" value="@CatInfo_GD.id" />
                    }
                }
                <label>Sexo</label>
                @{
                    if (CatInfo_GD != null && CatInfo_GD.val)
                    {
                        <input type="radio" name="Gender" value="true" checked="checked" /><p> Masculino </p>
                        <input type="radio" name="Gender" value="false" /><p> Femenino </p>
                    }
                    else
                    {
                        <input type="radio" name="Gender" value="true" /><p> Masculino </p>
                        <input type="radio" name="Gender" value="false" checked="checked" /><p> Femenino </p>
                    }
                }
            </li>
            <li>
                <label>Seguro</label>
                <select id="Insurance" name="Insurance">
                    @{
                        var valueInsurance = Model.Patient
                            == null ? null :
                        Model.Patient.PatientInfo.Where
                            (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.Insurance).
                            Select(x => new { id = x.PatientInfoId, val = x.Value }).
                                DefaultIfEmpty(null).
                                FirstOrDefault();

                        foreach (var item in Model.Insurance)
                        {
                            if (Model.Insurance != null && valueInsurance != null && item.CategoryId == Convert.ToInt32(valueInsurance.val))
                            {
                                <option value="@item.CategoryId" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.Name</option>
                            }
                        }
                    }
                </select>
                @if (valueInsurance != null)
                {
                    <input type="hidden" id="CatId_Insurance" name="CatId_Insurance" value="@valueInsurance.id" />
                }
            </li>
            <li>
                @{
                    var CatInfo_MP = Model.Patient == null ? null :
                        Model.Patient.PatientInfo.Where
                            (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.MedicalPlan).
                            Select(x => new { id = x.PatientInfoId, val = x.Value }).
                                DefaultIfEmpty(null).
                                FirstOrDefault();
                    if (CatInfo_MP != null)
                    {
                        <input type="hidden" id="CatId_MedicalPlan" name="CatId_MedicalPlan" value="@CatInfo_MP.id" />
                    }
                }
            </li>
            <li>
                <label>Plan médico</label>
                <input id="MedicalPlan" name="MedicalPlan" value="@(CatInfo_MP == null ? string.Empty : CatInfo_MP.val)" type="text" />
            </li>
            <li>
                @{
                    var CatInfo_RP = Model.Patient == null ? null :
                        Model.Patient.PatientInfo.Where
                            (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.Responsable).
                            Select(x => new { id = x.PatientInfoId, val = x.Value }).
                                DefaultIfEmpty(null).
                                FirstOrDefault();
                    if (CatInfo_RP != null)
                    {
                        <input type="hidden" id="CatId_Responsable" name="CatId_Responsable" value="@CatInfo_RP.id" />
                    }
                }
            </li>
            <li>
                <label>Responsable</label>
                <input id="Responsable" name="Responsable" value="@(CatInfo_RP == null ? string.Empty : CatInfo_RP.val)" type="text" />
            </li>
            <li>
                @{
                    var CatInfo_Email = Model.Patient == null ? null :
                    Model.Patient.PatientInfo.Where
                    (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.SendEmail).
                        Select(x => new { id = x.PatientInfoId, val = string.IsNullOrEmpty(x.Value) ? false : bool.Parse(x.Value) }).
                            DefaultIfEmpty(null).
                            FirstOrDefault();

                    if (CatInfo_Email != null)
                    {
                        <input type="hidden" id="CatId_SendEmail" name="CatId_SendEmail" value="@CatInfo_Email.id" />
                    }
                }
                <label>Notificaciones a su correo electrónico.</label>
                @{
                    if (CatInfo_Email != null && CatInfo_Email.val)
                    {
                        <input type="checkbox" id="IsSendEmail" name="IsSendEmail" checked="checked" />
                    }
                    else if (CatInfo_Email == null)
                    {
                        <input type="checkbox" id="IsSendEmail" name="IsSendEmail" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" id="IsSendEmail" name="IsSendEmail" />
                    }
                }
            </li>
            <li>
                @{
                    var CatInfo_SMS = Model.Patient == null ? null :
                    Model.Patient.PatientInfo.Where
                    (x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.SendSMS).
                        Select(x => new { id = x.PatientInfoId, val = string.IsNullOrEmpty(x.Value) ? false : bool.Parse(x.Value) }).
                            DefaultIfEmpty(null).
                            FirstOrDefault();

                    if (CatInfo_Email != null)
                    {
                        <input type="hidden" id="CatId_SendSMS" name="CatId_SendSMS" value="@CatInfo_SMS.id" />
                    }
                }
                <label>Notificaciones como mensaje de texto.</label>
                @{
                    if (CatInfo_SMS != null && CatInfo_SMS.val)
                    {
                        <input type="checkbox" id="IsSendSMS" name="IsSendSMS" checked="checked" />
                    }
                    else if (CatInfo_SMS == null)
                    {
                        <input type="checkbox" id="IsSendSMS" name="IsSendSMS" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" id="IsSendSMS" name="IsSendSMS" />
                    }
                }
            </li>
        </ul>
        <div class="BOButtonContainerShort">
            @*hiden fields*@
            <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
            <input type="submit" class="BOButtons" value="guardar" />
        </div>
    </form>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
  
    $(document).ready(function () {
        //render calendar by month
        GeneralCalendarObject.Init({
            DivId: 'Birthday',
            CountryId: '1',
            ProfilePublicId: '',
            StartDate: new Date(),
            EndDate: new Date(),
            FirstDate: new Date(),
        });
        GeneralCalendarObject.RenderAsync();
    });
</script>
