@model SaludGuruProfile.Manager.Models.Profile.ProfileModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="Content">
    <div class="MPHeaderSearchWrapper SearchBox">
        <!--search box-->
        @if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Home.Name &&
            MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Home.ActionNames.Index)
        {
            <div class="SearchBoxClass">
                <span>Busca un especialista por nombre, especialidad, ciudad o seguro completamente gratis</span>
                <div>
                    <input type="text" id="inSearchBoxProfile" placeholder="Buscar por nombre, especialidad o seguro" />
                    <a href="javascript:SearchBoxObject.SearchTerm();"></a>
                </div>
            </div>
        }
    </div>
    <hr class="featurette-divider __loop">
    <div class="ContentImportant">
        <h1 class="ProfileH1">Profesional Destacado:</h1>
        <h1 class="SocialH1">Redes Sociales</h1>
        <div class="Profile">
            @{
                var nameProfile = Model.Name.ToString();
                var publicProfileId = Model.ProfilePublicId;
                var imgProfile = Model.ProfileInfo.Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileSmallOriginal).
                                                    Select(x => x.Value).
                                                    DefaultIfEmpty(null).
                                                    FirstOrDefault();
                if (imgProfile == null)
                {
                    imgProfile = MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Profile_SmallImageDefault].Value;
                }
                var defaultSpecialtyProfile = Model.DefaultSpecialty.Name.ToString();
                var shortTextProfile = Model.ProfileInfo.Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ShortProfile).
                                                        Select(x => x.Value).
                                                        DefaultIfEmpty(null).
                                                        FirstOrDefault();

                //get profile url
                var ovProfileUrl = Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Profile_Default,
                    new
                    {
                        DoctorName = MarketPlace.Web.Controllers.BaseController.RemoveAccent(Model.Name + " " + Model.LastName),
                        ProfilePublicId = Model.ProfilePublicId,
                        SpecialtyName = !string.IsNullOrEmpty(defaultSpecialtyProfile) ? MarketPlace.Web.Controllers.BaseController.RemoveAccent(defaultSpecialtyProfile) : string.Empty,
                    }));

            }
            <div class="Image">
                <a href="@ovProfileUrl">
                    <img src="@imgProfile" />
                </a>
            </div>
            <div class="ProfileInfo">
                <a href="@ovProfileUrl">
                    <label>@nameProfile</label>
                </a>
                <p>@defaultSpecialtyProfile</p>
                <p>@shortTextProfile</p>
                <a class="MPButtons" title="@Model.Name" href="@ovProfileUrl">Ver perfil</a>
            </div>
        </div>

        <div class="SocialNetworks">
            <!--Facebook-->
            <iframe src="//www.facebook.com/plugins/likebox.php?href=@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_SaludGuru_FacebookProfile].Value);width=300&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=508552919266572" scrolling="no" frameborder="0" allowtransparency="true" style="width:calc(54%); height: 290px;"></iframe>

            <p>Siguenos también en:</p>
            <!--LinkedIn-->
            <script src="//platform.linkedin.com/in.js" type="text/javascript">
                lang: es_ES
            </script>
            <script type="IN/FollowCompany" data-id="3519568" data-counter="right">
            </script>

            <!--Google + -->
            <!-- Inserta esta etiqueta donde quieras que aparezca Botón +1. -->
            <div class="g-plusone" data-href="https://plus.google.com/112797242838392317228/posts?hl=es-419"></div>

            <!--Twitter-->
            <a href="https://twitter.com/SaludGuru" class="twitter-follow-button" data-show-count="false" data-lang="es" data-show-screen-name="false">Seguir a &#64;SaludGuru</a>

        </div>
    </div>
    <hr class="featurette-divider __loop">
    <div class="Feed">
        <h1>Noticias</h1>
        @{
            List<SaludGuru.FeedManager.Models.FeedReaderModel> Feeds = SaludGuru.FeedManager.FeedController.GetFeed(2);

            SaludGuru.FeedManager.Models.FeedReaderModel mHealtyLive = Feeds[0];
            SaludGuru.FeedManager.Models.FeedReaderModel mMedicalMarketing = Feeds[1];
        }
        <!-- Feed Left -->
        <div class="FeedLeft">
            <label id="FeedTitle">@(mHealtyLive.Title)</label>
            <a target="_blank" href="@(mHealtyLive.Link)">
                <img id="FeedImage" src="@(mHealtyLive.Image)" />
            </a>
            <p id="FeedDescription">@(Html.Raw(mHealtyLive.Description))</p>
        </div>
        <!-- Feed Right -->
        <div class="FeedRight">
            <label id="FeedTitle">@(mMedicalMarketing.Title)</label>
            <a target="_blank" href="@(mMedicalMarketing.Link)">
                <img id="FeedImage" src="@(mMedicalMarketing.Image)" />
            </a>
            <p id="FeedDescription">@(Html.Raw(mMedicalMarketing.Description))</p>
        </div>
    </div>
    <hr class="featurette-divider __loop">
    <div class="Demo">
        <div class="NewDoctor">
            <h1>Soy un Doctor</h1>
            <img src="~/Areas/Web/Content/Images/logInDoctorSmall.png" />
            <div class="InfoDoctor">
                <h2>Bienvenido!</h2>
                <p>Para solicitar un Demo gratuito de Salud Gurú.</p>
                <a href="#" class="info">Click Aquí</a>
            </div>
        </div>
        <div class="criteriaBox">
            <div class="FeaturedSP">
                <h2>Especialidades Destacadas</h2>
                <ul>
                    <li>
                        <a href="/odontologia+general/seguros+medicos-bogota" title="Encuentra los mejores especialistas en Odontología">
                            <h3>Odontología</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/fisioterapia+y+terapia+fisica/seguros+medicos-bogota" title="Encuentra los mejores especialistas en Fisioterapia">
                            <h3>Fisioterapia</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/cirugia+plastica/seguros+medicos-bogota" title="Encuentra los mejores especialistas en Cirugía Plástica">
                            <h3>Cirugía Plástica</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/ginecologia+y+obstetricia/seguros+medicos-bogota" title="Encuentra los mejores especialistas en Ginecología">
                            <h3>Ginecología</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/medicina+estetica/seguros+medicos-bogota" title="Encuentra los mejores especialistas en Medicina Estética">
                            <h3>Medicina Estética</h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Insurance">
                <h2>Listado de Seguros</h2>
                <ul>
                    <li>
                        <a href="/todas+las+especialidades/sura/bogota" title="Encuentra los mejores médicos de Sura">
                            <h3>Sura</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/todas+las+especialidades/allianz/bogota" title="Encuentra los mejores médicos de Allianz">
                            <h3>Allianz</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/todas+las+especialidades/colsanitas/bogota" title="Encuentra los mejores médicos de Colsanitas">
                            <h3>Colsanitas</h3>
                        </a>
                    </li>
                    <li>
                        <a href="/todas+las+especialidades/medplus/bogota" title="Encuentra los mejores médicos de Medplus">
                            <h3>Medplus</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section inlinescripts
{
    <script type="text/javascript">

        fnInitHome({
            Baseurl: '@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_HomeImage_Baseurl].Value',
            CountMax: '@MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_HomeImage_CountMax].Value'
        });
    </script>
}