@model MarketPlace.Models.Appointment.AppointmentViewModel
@{
    ViewBag.Title = "ConfirmationAppointmentView";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
@{ //get image profile
    string ImgProfile = Model.CurrentProfile.ProfileInfo.
        Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileLarge).
        Select(x => x.Value).
        DefaultIfEmpty(string.Empty).
        FirstOrDefault();
}

<div class="MPAgendaConfirmationMessageGW">
    <div class="MPAgendaConfirmationMessage">
        <label>Tu cita ha sido agendada correctamente!</label>
        <div>
            <span>El DR. @Model.CurrentProfile.Name</span>
            <img src="@ImgProfile" alt="@Model.CurrentProfile.Name" />
            
            <span>El día @Model.StartDate</span>
            
            <span>En la dirección @Model.CurrentOffice</span>
            
            <span>
                estamos enviando la confirmación de la cita a tu correo electrónico, <br>
                si no la has recibido favor validar en la bandeja de correos no deseados.<br>
                Horas antes de la cita, te enviaremos un recordatorio a tu correo electrónico y/o teléfono móvil.<br>
            </span>
        </div>
    </div>
</div>