@model MarketPlace.Models.Appointment.AppointmentViewModel
@{
    ViewBag.Title = "ConfirmationAppointmentView";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
@{ //get image profile
    string ImgProfile = Model.CurrentProfile.ProfileInfo.
        Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileLarge).
        Select(x => x.Value).
        DefaultIfEmpty(string.Empty).
        FirstOrDefault();
}

<div class="MPAgendaConfirmationMessageGW">
    <div class="MPAgendaConfirmationMessage">
        <div>
            <span>Cita agendada correctamente con el Dr/a. @Model.CurrentProfile.Name</span>
            <img src="@ImgProfile" alt="@Model.CurrentProfile.Name" />
            <span> el día @Model.StartDate</span>            
            <span>en la @Model.CurrentOffice</span>            
            <span>
                Enviaremos la confirmación de la cita a tu correo electrónico.<br>
                Si no la has recibido, por favor revisar en la bandeja de correos no deseados.<br>
                Previamente a la cita te enviaremos un recordatorio por correo electrónico y/o mensaje de texto.<br>
            </span>
        </div>
    </div>
</div>