@model MarketPlace.Models.Appointment.AppointmentViewModel
@{
    ViewBag.Title = "ConfirmationAppointmentView";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
@{ //get image profile
    string ImgProfile = Model.CurrentProfile.ProfileInfo.
        Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileLarge).
        Select(x => x.Value).
        DefaultIfEmpty(string.Empty).
        FirstOrDefault();
}

<div class="MPAgendaConfirmationMessageGW">
    <div class="MPAgendaConfirmationMessage">
        <div class="ImgConfirmation">
            <img src="~/Areas/Web/Content/Images/MPConfirm.png" />
        </div>
        <div class="TextConfirmation">
            <span>Cita agendada correctamente con el <strong>Dr/a. @Model.CurrentProfile.Name @Model.CurrentProfile.LastName</strong></span>
            <span> el día <strong>@Model.StartDate</strong></span>
            <span>en la <strong>@Model.CurrentProfile.RelatedOffice.Where(x => x.OfficePublicId == Model.CurrentOffice).Select(x => x.Name).FirstOrDefault()</strong></span>
            <span>
                Enviaremos la confirmación de la cita a tu correo electrónico.<br>
                Si no la has recibido, por favor revisar en la bandeja de correos no deseados.
                Previamente a la cita te enviaremos un recordatorio por correo electrónico y/o mensaje de texto.<br>
            </span>
        </div>
</div>
    <div class="MPAgendaDoctorProfile">
        @Html.Partial(MVC.Web.Shared.Views._AP_ProfileInfo, Model)
    </div>
</div>