@model MarketPlace.Models.Appointment.AppointmentViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
    Model.RenderScripts = false;
}
<div class="MPFormDataWrapper">
    <span>Proceso de Agendamiento</span>

    <form id="AppointmentForm" method="post" action="@(Url.Action(MVC.Web.Appointment.Views.ViewNames.ConfirmationAppointment, new { ProfilePublicId = Model.CurrentProfile.ProfilePublicId, UpsertAction = true, Date = Model.StartDate }))">
        <ul>
            @if (Model.CurrentProfile != null && Model.CurrentOffice != null)
            {
                <li id="officeSelectedId" style="display:none">
                    <h2>Datos de la cita</h2>
                    <label>Selecciona un consultorio</label>
                    <select id="SelectedOffice" name="SelectedOffice">
                        @foreach (var item in Model.CurrentProfile.RelatedOffice)
                        {
                            var officeSelected = Model.CurrentProfile.RelatedOffice.Where(x => x.OfficePublicId == Model.CurrentOffice).Select(x => x).FirstOrDefault();
                            <option value="@officeSelected.OfficePublicId" selected="selected">@officeSelected.Name</option>
                        }
                    </select>
                </li>
            }
            else
            {
                <li id="officeSelectedId">
                    <h2>Datos de la cita</h2>
                    <label>Selecciona un consultorio</label>
                    <select id="SelectedOffice" name="SelectedOffice">
                        @foreach (var item in Model.CurrentProfile.RelatedOffice)
                        {
                            if (Model.CurrentProfile != null && item.IsDefault == true)
                            {
                                <option value="@item.OfficePublicId" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.OfficePublicId">@item.Name</option>

                            }
                        }
                    </select>
                </li>
            }
            <li>
                <label>Por favor escoge un seguro</label>
                <select id="SelectedInsurance" name="SelectedInsurance">
                    @foreach (var item in Model.CurrentProfile.RelatedInsurance)
                    {
                        if (Model.CurrentProfile != null && item.CategoryId == (int)Model.CurrentProfile.ProfileType)
                        {
                            <option value="@item.CategoryId" selected="selected">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.CategoryId">@item.Name</option>
                        }
                    }
                </select>
            </li>
            <li>
                <label>Selecciona un tratamiento</label>
                <select id="SelectedTreatment" name="SelectedTreatment">
                    @if (Model.CurrentOffice != null)
                    {
                        foreach (var item in Model.CurrentProfile.RelatedOffice.FirstOrDefault().RelatedTreatment)
                        {
                            if (Model.CurrentProfile != null && item.CategoryId == (int)Model.CurrentProfile.ProfileType)
                            {
                                <option value="@item.CategoryId" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.CategoryId">@item.Name</option>
                            }
                        }
                    }

                </select>
            </li>
            <li class="MPAgendaPatientSelection">
                <h2>Quien va a ver al Doctor:</h2>
                @if (Model.PatientGroup.Count > 0)
                {
                    foreach (var item in Model.PatientGroup)
                    {
                        string currentPatient = item.PatientInfo.Where(x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.IsMarketPlaceUser &&
                                    x.Value == "true").
                                    Select(x => x.Value).FirstOrDefault();

                        <div id="ulPatientList">
                            @if (currentPatient != null)
                            {
                                <input type="radio" id="SelectedPatientItem" name="SelectedPatientItem" checked="checked" value="@item.PatientPublicId">
                                <label>Yo</label>
                            }
                            else
                            {
                                <input type="radio" id="SelectedPatientItem" name="SelectedPatientItem" value="@item.PatientPublicId">
                                <label>@item.Name @item.LastName</label>
                            }
                        </div>
                    }
                }
                else
                {
                    <div id="ulPatientList">
                        <input type="radio" id="SelectedPatientItem" name="SelectedPatientItem" checked="checked" value="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.UserPublicId">
                        <label>Yo</label>
                    </div>
                }

            </li>
            <li class="MPAgendaButtonWrapper">
                <input class="MPAgendaButtons" id="isSomeBody" type="button" name="Btn" value="Alguien más" />
            </li>
            <li class="MPAgendaButtonWrapper">
                <!--Profile Schedule-->
                @if (Model.StartDate != null)
                {
                    <input class="MPAgendaButtons" type="button" id="DateMoreInfoIdNN" value="@Model.StartDate" />
                }
                else
                {
                    <input class="MPAgendaButtons" type="button" id="DateMoreInfoIdN" value="Selecciona la hora de tu cita" />
                }
            </li>
            <li class="MPAgendaButtonWrapper">
                <input type="hidden" name="StartDate" id="StartDate" value="" />
                <input class="MPAgendaButtonAcceptDate" type="submit" id="SaveAppointmentId" name="SaveAppointmentId" value="Agendar cita" />
            </li>
        </ul>
    </form>

    @*ESTE PEDAZO PINTA EL CALENDARIO DE CITAS DEL DOCTOR*@
    <div class="laPmadre" id="FreeScheduleId" style="display:none">
        @Html.Partial(MVC.Web.Shared.Views._AP_Appointment, Model)
        <div class="MPAgendaButtonWrapper">
            <input class="MPAgendaButtonAcceptDate" type="button" id="DateLessInfoId" value="Cerrar calendario" />
        </div>
    </div>

    @*ESTE PEDAZO PINTA EL FORMULARIO DEL NUEVO PACIENTE*@
    <div id="NewPatient" style="display:none;">
        <form id="CreatePatientForm" method="post" name="CreatePatientForm" action="/api/AppointmentApi?ProfilePublicId=2c1d2510">
            <ul>
                <li>
                    <h2>Datos del nuevo paciente</h2>
                    <label>Nombre</label>
                    <input type="text" id="Name" name="Name" />
                </li>
                <li>
                    <label>Apellido</label>
                    <input type="text" id="LastName" name="LastName" />
                </li>
                <li>
                    <label>Identificación</label>
                    <input type="text" id="Identification" name="Identification" />
                </li>
                <li>
                    <label>Fecha de nacimiento</label>
                    <input type="text" id="Birthday" name="Birthday" />
                </li>
                <li>
                    <h2>Sexo</h2>
                    <label>Masculino</label>
                    <input type="checkbox" id="GenderMale" name="GenderMale" />
                    <label>Femenino</label>
                    <input type="checkbox" id="GenderFemale" name="GenderFemale" />
                </li>
                <li>
                    <a id="itemSave" href="javascript:CreatePatient();">Guardar</a>
                </li>
            </ul>
        </form>
    </div>
    <div class="MPAgendaDoctorProfile">
        @Html.Partial(MVC.Web.Shared.Views._AP_ProfileInfo, Model)
    </div>
</div>
<!--templates-->
<div style="display:none">
    <!--patient template-->
    <ul id="ulPatientTemplate">
        <li>
            <input type="radio" name="SelectedNewItem" value="{PatientPublicId}" checked='checked'>
            <label>{PatientName}</label>
        </li>
    </ul>
</div>

@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Web.Shared.Views._AP_Appointment, Model)
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            AppointmentObject.ChangeOffice();
        })
    </script>
}