@model MarketPlace.Models.Appointment.AppointmentViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    <form id="AppointmentForm" action="@(Url.Action(MVC.Web.Appointment.Views.ViewNames.Index, new { ProfilePublicId = "2C1D2510" }))">
        <ul>
            <li>
                <label>Por favor escoge un seguro</label>
                <select id="SelectedInsurance" name="SelectedInsurance">
                    @foreach (var item in Model.CurrentProfile.RelatedInsurance)
                    {
                        if (Model.CurrentProfile != null && item.CategoryId == (int)Model.CurrentProfile.ProfileType)
                        {
                            <option value="@item.CategoryId" selected="selected">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.CategoryId">@item.Name</option>
                        }
                    }
                </select>
            </li>
            <li>
                <label>Selecciona un tratamiento</label>
                <select id="SelectedTreatment" name="SelectedTreatment">
                    @foreach (var item in Model.CurrentProfile.RelatedTreatment)
                    {
                        if (Model.CurrentProfile != null && item.CategoryId == (int)Model.CurrentProfile.ProfileType)
                        {
                            <option value="@item.CategoryId" selected="selected">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.CategoryId">@item.Name</option>
                        }
                    }
                </select>
            </li>
            <li>
                <div>
                    @Html.Partial(MVC.Web.Shared.Views._AP_ProfileInfo, Model)
                </div>
            </li>
        </ul>
    </form>
</div>

<div>
    <ul>
        <li>
            <div>
                @foreach (var item in Model.PatientGroup)
                {
                    string currentPatient = item.PatientInfo.Where(x => x.PatientInfoType == MedicalCalendar.Manager.Models.enumPatientInfoType.IsMarketPlaceUser &&
                                x.Value == "true").
                                Select(x => x.Value).FirstOrDefault();

                    <ul id="ulPatientList">
                        <li>
                            @if (currentPatient != null)
                            {
                                <input type="radio" id="SelectedItem" name="SelectedItem" checked="checked" value="@item.PatientPublicId">
                                <label>Yo</label>
                            }
                            else
                            {
                                <input type="radio" name="SelectedItem" value="@item.PatientPublicId">
                                <label>@item.Name @item.LastName</label>
                            }
                        </li>
                    </ul>
                }
            </div>
        </li>
        <li>
            <input id="isSomeBody" type="button" name="Btn" value="Alguien más" />
        </li>
    </ul>
</div>

<div id="NewPatient" style="display:none;">
    <form id="CreatePatientForm" method="post" name="CreatePatientForm" action="/api/AppointmentApi?ProfilePublicId=2c1d2510">
        <ul>
            <li>
                <label>Nombre</label>
                <input type="text" id="Name" name="Name" />
            </li>
            <li>
                <label>Apellido</label>
                <input type="text" id="LastName" name="LastName" />
            </li>
            <li>
                <label>Identificación</label>
                <input type="text" id="Identification" name="Identification" />
            </li>
            <li>
                <label>Fecha de nacimiento</label>
                <input type="text" id="Birthday" name="Birthday" />
            </li>
            <li>
                <label>Sexo</label>
                <div>
                    <label>Masculino</label>
                    <input type="checkbox" id="GenderMale" name="GenderMale" />
                    <label>Femenino</label>
                    <input type="checkbox" id="GenderFemale" name="GenderFemale" />
                </div>
            </li>
        </ul>
        <a id="itemSave" href="javascript:CreatePatient();">Guardar</a>
    </form>
</div>

<!--templates-->
<div style="display:none">

    <!--patient template-->
    <ul id="ulPatientTemplate">
        <li>
            <input type="radio" name="SelectedNewItem" value="{PatientPublicId}"  checked='checked'>
            <label>{PatientName}</label>
        </li>
    </ul>
</div>




@section inlinescripts
{
    <script type="text/javascript">

        $("#isSomeBody").click(function () {
            $("#NewPatient").show();
        });

        $("#GenderFemale").click(function () {
            $("#GenderMale").attr('checked', false);
        });

        $("#GenderMale").click(function () {
            $("#GenderFemale").attr('checked', false);
        });
    </script>
}