<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @*Render bondles styles*@
    @*@Styles.Render("~/" + BackOffice.Models.Constants.C_WebAreaName + "/content/css")*@
</head>
<body>
    <div>
        <!--Start internal content-->
        @RenderBody()
    </div>

    @*Render boundles scripts*@
    @*@Scripts.Render("~/" + BackOffice.Models.Constants.C_WebAreaName + "/bundles/jquery")
        @Scripts.Render("~/" + BackOffice.Models.Constants.C_WebAreaName + "/bundles/jqueryval")
        @Scripts.Render("~/" + BackOffice.Models.Constants.C_WebAreaName + "/bundles/modernizr")
        @Scripts.Render("~/" + BackOffice.Models.Constants.C_WebAreaName + "/bundles/bootstrap")
        @Scripts.Render("~/" + BackOffice.Models.Constants.C_WebAreaName + "/sitescripts")*@


    @*Render inline site scripts*@
    @RenderSection("inlinescripts", required: false)
</body>
</html>