@model MarketPlace.Models.Appointment.AppointmentViewModel

@{ //get image profile
    string ImgProfile = Model.CurrentProfile.ProfileInfo.
        Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileLarge).
        Select(x => x.Value).
        DefaultIfEmpty(string.Empty).
        FirstOrDefault();

    //get profile url
    var ovProfileUrl = Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Profile_Default,
    new
    {
        DoctorName = MarketPlace.Web.Controllers.BaseController.RemoveAccent(Model.CurrentProfile.Name + " " + Model.CurrentProfile.LastName),
        ProfilePublicId = Model.CurrentProfile.ProfilePublicId,
        SpecialtyName = (Model.CurrentProfile.DefaultSpecialty != null) ? MarketPlace.Web.Controllers.BaseController.RemoveAccent(Model.CurrentProfile.DefaultSpecialty.Name) : string.Empty,
    }));
}

<ul class="MPAgendaDoctorData">
    <li class="ProfileImage">
        <img src="@ImgProfile" alt="@Model.CurrentProfile.Name" />
    </li>
    <li class="ProfileInformation">
        <a href="@ovProfileUrl">
            <h2>@Model.CurrentProfile.Name @Model.CurrentProfile.LastName</h2>
        </a>
        @if (Model.CurrentProfile.DefaultSpecialty != null)
        {
            <h3>@Model.CurrentProfile.DefaultSpecialty.Name</h3>
        }
        else
        {
            <label></label>
        }
    </li>
</ul>
