<div class="MPMainWrapper">
    <div class="MPTextWrapper">
        @*<ul>
            <li>
                <a href="@Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Contact))">Quiero que me contacten |</a>
            </li>
            <li>
                <a href="@Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_LegalTerms))">Términos legales |</a>
            </li>
            <li>
                <a href="@Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_ConditionsAndRestrictions))">Condiciones y restricciones |</a>
            </li>
            <li>
                <a href="@Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_FAQ))">Preguntas frecuentes |</a>
            </li>
            <li>
                <a href="@Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_LegalTerms) + "/#usoInformacion")">Habeas Data</a>
            </li>
        </ul>*@
        <p>
            EL portal de negocios de SaludGurú de Publicar Publicidad Multimedia S.A.S contiene la información de profesionales de la salud en Colombia. Todas las marcas registradas son propiedad de la compañía respectiva o de Publicar Publicidad Multimedia S.A.S La reproducción total o parcial de cualquier material contenido en este portal está prohibido.
            <a href="@Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_LegalTerms))">AVISO LEGAL © Copyright 2013 SaludGurú.com</a> es el portal de salud más completo de Colombia. Encuentre la información profesional, médica y especializada relacionadas con su búsqueda. La política de tratamiento de datos personales de Publicar Publicidad Multimedia S.A.S puede ser <a href="@(Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_LegalTerms)) + "/#usoInformacion")">consultada quí.</a>
            <a href="@Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_ConditionsAndRestrictions))">CONDICIONES Y RESTRICCIONES</a>
        </p>
    </div>
</div>