<link href="~/Areas/Mobile/Content/jquery.mobile-1.4.2.css" rel="stylesheet" />



<div data-role="content">
    

    <a class="MPSGlogo" href="@Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Home, null)">
        <img src="~/Areas/Mobile/Content/Images/logoSaludGuruSmall.png" />
    </a>

    <span>Encuentra un doctor y agenda tu cita completamente gratis</span>
    <select id="selGlobalCity">
        @{
            var oBaseController = ViewContext.Controller as MarketPlace.Web.Controllers.BaseController;

            foreach (KeyValuePair<int, string> item in MarketPlace.Web.Controllers.BaseController.EnabledCities)
            {
                if (item.Key == oBaseController.CurrentCookie.CurrentCity)
                {
                    <option value="@item.Key" selected="selected" itemname="@MarketPlace.Web.Controllers.BaseController.RemoveAccent(item.Value)">@item.Value</option>
                }
                else
                {
                    <option value="@item.Key" itemname="@MarketPlace.Web.Controllers.BaseController.RemoveAccent(item.Value)">@item.Value</option>
                }
            }
        }
    </select>

    <div data-role="content">
        <input type="text" id="inSearchBoxProfile" placeholder="Buscar por nombre, especialidad o seguro" />
        <a href="javascript:SearchBoxObject.SearchTerm();"></a>
    </div>

  
</div>






