<link href="~/Areas/Mobile/Content/jquery.mobile-1.4.2.css" rel="stylesheet" />
<div data-role="page" id="Home" data-theme="a">
    <a class="MPSGlogo" href="@Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Home, null)">
        <img src="~/Areas/Mobile/Content/Images/logoSaludGuruSmall.png" />
    </a>
    <div data-role="panel" id="navpanel" data-theme="a" data-display="overlay" data-position="left">
        <div data-role="controlgroup" data-corners="false">
            @if (MarketPlace.Models.General.SessionModel.UserIsLoggedIn)
            {
                <!--Render user login options-->
                <div class="MPHeaderTopMenuUserName" onclick="javascript: Header_ShowHideUserMenu('divUserMenu');">
                    <label>Que bueno verte! @(MarketPlace.Models.General.SessionModel.CurrentLoginUser.Name)</label>
                    <img src="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.ExtraData.Where(x => x.InfoType == SessionController.Models.Auth.enumUserInfoType.ImageProfile).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()" />
                </div>
                <!--pop up user option menu-->
                <div id="divUserMenu" style="display:none;">
                    <ul>                    
                        <li>
                            <a href="@Url.Action(MVC.Home.ActionNames.LogOutUser, MVC.Home.Name)" rel="nofollow">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                //get login urls
                string RetUrl = Request.Url.ToString();
                string FBUrl = MarketPlace.Models.General.InternalSettings.Instance
                    [MarketPlace.Models.General.Constants.C_Settings_Login_FBUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                    .Value.Replace("{{UrlRetorno}}", RetUrl);

                string GoogleUrl = MarketPlace.Models.General.InternalSettings.Instance
                    [MarketPlace.Models.General.Constants.C_Settings_Login_GoogleUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                    .Value.Replace("{{UrlRetorno}}", RetUrl);

                string OutlookUrl = MarketPlace.Models.General.InternalSettings.Instance
                    [MarketPlace.Models.General.Constants.C_Settings_Login_WindowsLiveUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                    .Value.Replace("{{UrlRetorno}}", RetUrl);

                <!--Render autentications-->
                <span class="MPHeaderTopMenuIngresar">Ingresar con:</span>
                
                <a class="MPGoogleLogIn" href="@GoogleUrl" rel="nofollow"></a>
                <a class="MPFacebookLogIn" href="@FBUrl" rel="nofollow"></a>
                <a class="MPHeaderTopMas" href="javascript:Header_ShowHideLoginMenu('ulLoginMoreOptions');"></a>
                <ul id="ulLoginMoreOptions" style="display:none;">
                    <li><a href="@GoogleUrl" rel="nofollow">Google</a></li>
                    <li><a href="@FBUrl" rel="nofollow">Facebook</a></li>
                    <li><a href="@OutlookUrl" rel="nofollow">Outlook</a></li>
                </ul>
            }

            @*<a href="#" data-role="button">Business</a>
            <a href="#" data-role="button">Numbers</a>
            <a href="#" data-role="button">Money</a>
            <a href="#" data-role="button">People</a>*@
        </div>
    </div>
    <div id="header" data-role="header" data-theme="b">
        <a id="bars-button" data-icon="bars" class="ui-btn-left" style="margin-top:10px;" href="#navpanel"></a>
    </div>
</div>
