<!DOCTYPE html>
<html>
    
<head>
    <meta name="viewport" content="width=device-width" />
    @{var oBaseController = ViewContext.Controller as MarketPlace.Web.Controllers.BaseController;}

    @{
        MarketPlace.Models.General.SEOModel oSeoModel = (MarketPlace.Models.General.SEOModel)ViewBag.SeoModel;
        if (oSeoModel == null)
        {
            oSeoModel = new MarketPlace.Models.General.SEOModel()
            {
                Title = MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_SEO_Home_Title].Value,
                IsNoIndex = false,
                IsNoFollow = false,
                CityName = MarketPlace.Web.Controllers.BaseController.EnabledCities
                    [oBaseController.CurrentCookie != null ?
                    oBaseController.CurrentCookie.CurrentCity : MarketPlace.Web.Controllers.BaseController.DefaultCityId],
            };
        }
    }

    <meta charset="utf-8" />
    <title>@oSeoModel.Title</title>

    @*Render bondles styles*@
    @Styles.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/content/jquerymobile/css")
    @Styles.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/content/css")

    @if (!string.IsNullOrEmpty(oSeoModel.Description))
    {
        <meta name="description" content="@oSeoModel.Description">
    }

    @if (!string.IsNullOrEmpty(oSeoModel.Keywords))
    {
        <meta name="keywords" content="@oSeoModel.Keywords">
    }

    @if (oSeoModel.IsNoIndex && oSeoModel.IsNoFollow)
    {
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    }
    else if (oSeoModel.IsNoIndex)
    {
        <meta name="ROBOTS" content="NOINDEX,">
    }
    else if (oSeoModel.IsNoFollow)
    {
        <meta name="ROBOTS" content="NOFOLLOW">
    }

    @if (!string.IsNullOrEmpty(oSeoModel.CanonicalUrl))
    {
        <link rel="canonical" href="@oSeoModel.CanonicalUrl" />
    }
</head>


<body>
    <div data-role="page" id="Home" data-theme="a">

        <div data-role="header">
            <div id="header" data-theme="b">
                <a id="bars-button" data-icon="bars" class="ui-btn-left" style="margin-top:10px;" href="#navpanel"></a>
            </div>
            @Html.Partial(MVC.Mobile.Shared.Views._L_Header)
        </div>
        <!--Start internal content-->
        <div data-role="content">
            @RenderBody()
        </div>
        <!--Start footer content-->
        <div data-role="footer">
            @Html.Partial(MVC.Mobile.Shared.Views._L_Footer)
        </div>

        <!--Layout templates-->
        <div style="display:none">
            <div id="inSearchBoxProfile_AcTemplate">
                <div class="SearchBoxAc_${Type}">
                    <label>${Node}</label>
                </div>

            </div>
        </div>

        <!--Layout dialog-->
        <div style="display:none">
            <div id="dialog_ScheduleAppointmentNotLogin" title="Ingreso requerido">
                <span>Para agendar una cita debe ingresar a traves de:</span>
                <!--Render autentications-->
                <div>
                    <a class="MPGoogleLogIn" href="" rel="nofollow"></a>
                    <a class="MPFacebookLogIn" href="" rel="nofollow"></a>
                    @*<a class="MPOutlookLogIn" href="" rel="nofollow"></a>*@
                </div>
            </div>
        </div>

        <div data-role="panel" id="navpanel" data-theme="a" data-display="overlay" data-position="left">
            <div data-role="controlgroup" data-corners="true">
                @if (MarketPlace.Models.General.SessionModel.UserIsLoggedIn)
                {
                <!--Render user login options-->
                    <div class="MPHeaderTopMenuUserName" onclick="javascript: Header_ShowHideUserMenu('divUserMenu');">
                        <label>Que bueno verte! @(MarketPlace.Models.General.SessionModel.CurrentLoginUser.Name)</label>
                        <img src="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.ExtraData.Where(x => x.InfoType == SessionController.Models.Auth.enumUserInfoType.ImageProfile).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()" />
                    </div>
                    <ul>
                        <li><a href="@Url.Action(MVC.Home.ActionNames.LogOutUser, MVC.Home.Name)" rel="nofollow">Cerrar sesión</a></li>
                    </ul>
                }
                else
                {
                    //get login urls
                    string RetUrl1 = (ViewContext.Controller as MarketPlace.Web.Controllers.BaseController).CurrentDomainUrl;
                    string FBUrl1 = MarketPlace.Models.General.InternalSettings.Instance
                        [MarketPlace.Models.General.Constants.C_Settings_Login_FBUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                        .Value.Replace("{{UrlRetorno}}", RetUrl1);

                    string GoogleUrl1 = MarketPlace.Models.General.InternalSettings.Instance
                        [MarketPlace.Models.General.Constants.C_Settings_Login_GoogleUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                        .Value.Replace("{{UrlRetorno}}", RetUrl1);

                    string OutlookUrl1 = MarketPlace.Models.General.InternalSettings.Instance
                        [MarketPlace.Models.General.Constants.C_Settings_Login_WindowsLiveUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                        .Value.Replace("{{UrlRetorno}}", RetUrl1);

                <!--Render autentications-->
                    <span class="MPHeaderTopMenuIngresar">Ingresar con:</span>

                    <a class="MPGoogleLogIn" href="@GoogleUrl1" rel="nofollow"></a>
                    <a class="MPFacebookLogIn" href="@FBUrl1" rel="nofollow"></a>
                    @*<a class="MPOutlookLogIn" href="@OutlookUrl1" rel="nofollow"></a>*@
                }
            </div>

        </div>

        @{
            <script>
                $.mobile.pushStateEnabled = false;
            </script>
            //get login urls
            string FBUrl = MarketPlace.Models.General.InternalSettings.Instance
                [MarketPlace.Models.General.Constants.C_Settings_Login_FBUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                .Value;

            string GoogleUrl = MarketPlace.Models.General.InternalSettings.Instance
                [MarketPlace.Models.General.Constants.C_Settings_Login_GoogleUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                .Value;

            string OutlookUrl = MarketPlace.Models.General.InternalSettings.Instance
                [MarketPlace.Models.General.Constants.C_Settings_Login_WindowsLiveUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                .Value;
        }

        @*Render boundles scripts*@
        @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/jquery")
        @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/jqueryval")
        @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/jquerymobile")
        @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/jquerymap")
        @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/modernizr")
        @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/bootstrap")
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_GoogleMaps_ApiKey].Value)&sensor=@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_GoogleMaps_Sensor].Value)"></script>
        @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/sitescripts")
        @*Render inline site scripts*@
        @RenderSection("inlinescripts", required: false)

        <!--Scripts Social Networks-->
        <!--Twitter-->
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

        <script type="text/javascript">
            $(document).ready(function () {
                InitGlobalPagesControlsMobile({
                    MenuButton:'BtnEmergentMenu',
                    DivEmergentMenu:'EmeregentMenu',
                    SearchBoxId: 'inSearchBoxProfile',
                    CityId: '@(oBaseController.CurrentCookie.CurrentCity)',
                    FBUrl: '@FBUrl',
                    GoogleUrl: '@GoogleUrl',
                    OutlookUrl: '@OutlookUrl',
                    IsLogin: @MarketPlace.Models.General.SessionModel.UserIsLoggedIn.ToString().ToLower(),
                    selCityId: 'selGlobalCity',
                });
            });
        </script>

        <!--Google +-->
        <script src="https://apis.google.com/js/platform.js" async defer>
            { lang: 'es-419' }
        </script>

        <!--Google analitycs-->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-51169600-2', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');

          
        </script>
    </div>
</body>
</html>
