@model MarketPlace.Models.Profile.ProfileViewModel

@{
    //get profile text
    var ovProfileText = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ProfileText).
            Select(x => x.LargeValue).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

    //get education text
    var ovProfileEducation = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.Education).
            Select(x => x.LargeValue).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

    //get certification text
    var ovProfileCertification = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.Certification).
            Select(x => x.LargeValue).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

}

@if (!Model.RenderScripts)
{
    <div class="MPProfileInfoDetail">
        <ul>
            @if (Model.CurrentProfile.RelatedOffice != null &&
                Model.CurrentProfile.RelatedOffice.Count > 0)
            {
                <li>
                    <label>Datos de contacto</label>
                    <div id="divOffice" class="selProfileDescriptions" >
                        <ul>
                            @foreach (var oCurrentOffice in Model.CurrentProfile.RelatedOffice)
                            {
                                <li>
                                    <div class="OfficeContactSelector">
                                        <span class="OfficeContactAddress">Dirección: @oCurrentOffice.OfficeInfo.Where(x => x.OfficeInfoType == SaludGuruProfile.Manager.Models.enumOfficeInfoType.Address).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                                        <span class="OfficeContactTelephone">Telefono: @oCurrentOffice.OfficeInfo.Where(x => x.OfficeInfoType == SaludGuruProfile.Manager.Models.enumOfficeInfoType.Telephone).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <hr class="featurette-divider __loop">   
                </li>
            }
            @if (!string.IsNullOrEmpty(ovProfileText))
            {
                <li>
                    <label>Perfil profesional</label>
                    <div id="divProfileText" class="selProfileDescriptions">
                        <p>@ovProfileText.Trim()</p>
                    </div>
                    <hr class="featurette-divider __loop">   
                </li>             
            }
            @if (!string.IsNullOrEmpty(ovProfileEducation))
            {
                <li>
                    <label>Educación</label>
                    <div id="divEducation" class="selProfileDescriptions">
                        <p>@ovProfileEducation.Trim()</p>
                    </div>
                    <hr class="featurette-divider __loop">   
                </li>
            }
            @if (!string.IsNullOrEmpty(ovProfileCertification))
            {
                <li>
                    <label>Acreditaciones</label>
                    <div id="divCertification" class="selProfileDescriptions">
                        <p>@ovProfileCertification.Trim()</p>
                    </div>
                </li>
            }
            
        </ul>
        
    </div>
}
