@model SaludGuruProfile.Manager.Models.Profile.ProfileModel

@if (Model != null && !string.IsNullOrEmpty(Model.ProfilePublicId))
{
    <div class="MPResultsPaidProfile">
        @{
    //get is certified
    var ovIsCertified = Model.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.IsCertified).
            Select(x => Convert.ToBoolean(x.Value)).
            DefaultIfEmpty(false).
            FirstOrDefault();

    //get image profile
    var ovImageProfile = Model.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileSmall).
            Select(x => x.Value).
            DefaultIfEmpty
                (MarketPlace.Models.General.InternalSettings.Instance
                    [MarketPlace.Models.General.Constants.C_Settings_Profile_SmallImageDefault].Value).
            FirstOrDefault();

    //get default specialty
    var ovDefaultSpecialty = Model.DefaultSpecialty != null ?
            Model.DefaultSpecialty :
            (Model.RelatedSpecialty != null ?
            Model.RelatedSpecialty.FirstOrDefault() :
            null);

    //get profile text
    var ovShortProfile = Model.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ShortProfile).
            Select(x => x.LargeValue).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

    //get WebSite info
    var ovWebSite = Model.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.Website &&
                        !string.IsNullOrEmpty(x.Value)).
            Select(x => (x.Value.StartsWith("http") ? string.Empty : "http://") + x.Value).
            FirstOrDefault();

    //get facebook profile
    var ovFacebook = Model.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.FacebookProfile &&
                        !string.IsNullOrEmpty(x.Value)).
            Select(x => (x.Value.StartsWith("http") ? string.Empty : "http://") + x.Value).
            FirstOrDefault();

    //get profile url
    var ovProfileUrl = Server.UrlDecode(Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Profile_Default,
        new
        {
            DoctorName = MarketPlace.Web.Controllers.BaseController.RemoveAccent(Model.Name + " " + Model.LastName),
            ProfilePublicId = Model.ProfilePublicId,
            SpecialtyName = ovDefaultSpecialty != null && !string.IsNullOrEmpty(ovDefaultSpecialty.Name) ? MarketPlace.Web.Controllers.BaseController.RemoveAccent(ovDefaultSpecialty.Name) : string.Empty,
        }));

    //get online meeting
    var ovOnLineMeeting = Model.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.AgendaOnline &&
                    !string.IsNullOrEmpty(x.Value)).
                    Select(x => x.Value.Trim().ToLower() == "true" ? true : false).
                    DefaultIfEmpty(false).
                    FirstOrDefault();
        }
        @*PRIMERA COLUMNA FOTICO FACEBOOK*@
        <div class="MPResultsPaidProfileDoctorPicture">
            <a title="@(Model.Name + " " + Model.LastName)" class="MPResultsDoctorPictureWrapper" href="@ovProfileUrl">
                <img alt="@(Model.Name + " " + Model.LastName)" class="MPResultsDoctorPicture" src="@ovImageProfile" />
            </a>
        </div>

        @*SEGUNDA COLUMNA DATICOS*@
        <div class="MPResultsPaidProfileDoctorData">
            <a class="MPResultsPaidProfileDoctorName" href="@ovProfileUrl">
               <h2>@(Model.Name + " " + Model.LastName)</h2>
            </a>

            @if (ovDefaultSpecialty != null && !string.IsNullOrEmpty(ovDefaultSpecialty.Name))
            {
                    <!--Principal specialty-->
                <h3 class="MPResultsSpecialityName">@ovDefaultSpecialty.Name</h3>
            }
            <label class="MPResultsEnsurance">Seguros médicos:</label>
            <ul>
                @foreach (string str in Model.RelatedInsurance.Select(x => x.Name).ToList())
                {
                    <li class="MPResultsInsuranceName">@str</li>
                }
            </ul>
        </div>
        <div class="MPResultsDoctorDescriptionWrapper">
            @{
                SaludGuruProfile.Manager.Models.Office.OfficeModel oCurrentOffice = null;
                if (Model.RelatedOffice != null && Model.RelatedOffice.Count > 0)
                {
                    oCurrentOffice = Model.RelatedOffice.Where(x => x.IsDefault == true).FirstOrDefault();
                    if (oCurrentOffice == null)
                    {
                        oCurrentOffice = Model.RelatedOffice.FirstOrDefault();
                    }
                }
            }
            @if (oCurrentOffice != null)
            {
                <div class="OfficeSelector">
                    <label class="OfficeTextSelector">Datos de contacto</label>
                    <div class="OfficeContactSelector">
                        <span class="OfficeContactAddress">Dirección: @oCurrentOffice.OfficeInfo.Where(x => x.OfficeInfoType == SaludGuruProfile.Manager.Models.enumOfficeInfoType.Address).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                        <span class="OfficeContactTelephone">Telefono:
                            @{
                                var oBaseController = ViewContext.Controller as MarketPlace.Web.Controllers.BaseController;

                                string tel = oCurrentOffice.OfficeInfo.Where(x => x.OfficeInfoType == SaludGuruProfile.Manager.Models.enumOfficeInfoType.Telephone).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault();
                                string number = "";
                                foreach (var item in tel.Replace(" ", "").Split('-'))
                                {
                                    if (item.Length == 7)
                                    {
                                        number = "tel:+57" + MarketPlace.Web.Controllers.BaseController.CityIndicative[oBaseController.CurrentCookie.CurrentCity].ToString() + item.ToString();
                                        <a href="@number">@item.ToString()</a>
                                    }
                                    else if (item.Length == 10)
                                    {
                                        number = "tel:" + item.ToString();
                                        <a href="@number">@item.ToString()</a>
                                    }
                                    else
                                    {
                                        @item.ToString()
                                    }
                                }
                            }
                        </span>
                    </div>
                </div>
            }
        </div>
        <div class="MPResultsDoctorLinksWrapper">
            <a class="MPResultsBookAppFree" href="@ovProfileUrl">Ver perfil del profesional</a>
        </div>
    </div>
}