@model MarketPlace.Models.Profile.ProfileViewModel
@{
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;

    bool ScheduleEnabled = Model.CurrentProfile.ProfileInfo.
        Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.AgendaOnline).
        Select(x => x.Value == "true" ? true : false).
        DefaultIfEmpty(false).
        FirstOrDefault();
}
<div class="MPProfileGreatWrapper">
    <div class="MPProfileColumnsWrapper">
        @if (ScheduleEnabled)
        {
            @*Metting enabled*@

            <div class="MPProfileWrapper">
                <!--Profile Basic Info-->
                <div class="MPProfileInfo">
                    @Html.Partial(MVC.Mobile.Shared.Views._P_BasicInfo, Model)
                </div>

                <!--Profile Map-->
                <div class="MPProfileMap">
                    @Html.Partial(MVC.Mobile.Shared.Views._P_Map, Model)
                </div>

                <!--Profile Description-->
                <div class="MPProfileInfoDetail">
                    @Html.Partial(MVC.Mobile.Shared.Views._P_DetailInfo, Model)
                </div>
            </div>
        }
        else
        {
            @*Metting disabled*@
            <div class="MPProfileWrapper">
                <!--Profile Basic Info-->
                <div class="MPProfileInfo">
                    @Html.Partial(MVC.Mobile.Shared.Views._P_BasicInfo, Model)
                </div>

                <!--Profile Map-->
                <div class="MPProfileMap">
                    @Html.Partial(MVC.Mobile.Shared.Views._P_Map, Model)
                </div>

                <!--Profile Description-->
                <div class="MPProfileInfoDetail">
                    @Html.Partial(MVC.Mobile.Shared.Views._P_DetailInfo, Model)
                </div>
            </div>
        }
    </div>
</div>

@{
    MarketPlace.Models.Appointment.AppointmentViewModel oModel = new MarketPlace.Models.Appointment.AppointmentViewModel();

    foreach (var oCurrentOffice in Model.CurrentProfile.RelatedOffice)
    {
        oModel = new MarketPlace.Models.Appointment.AppointmentViewModel();

        oModel.CurrentDate = DateTime.Now;
        oModel.CurrentProfile = SaludGuruProfile.Manager.Controller.Profile.MPProfileGetFull(Model.CurrentProfile.ProfilePublicId);
        if (MarketPlace.Models.General.SessionModel.CurrentLoginUser != null)
        {
            oModel.PatientGroup = MedicalCalendar.Manager.Controller.Patient.MPPatientGetByUserPublicId(MarketPlace.Models.General.SessionModel.CurrentLoginUser.UserPublicId);
        }
        oModel.CurrentOffice = oCurrentOffice.OfficePublicId;
        oModel.StartDate = DateTime.Now.ToString("dddd dd MMMM hh:mm tt", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"));
        oModel.RenderScripts = true;

        if (oModel.PatientGroup == null)
        {
            oModel.PatientGroup = new List<MedicalCalendar.Manager.Models.Patient.PatientModel>();
        }
    }


    Model.RenderScripts = true;
}
@section inlinescripts
{
    @if(ScheduleEnabled){
        @Html.Partial(MVC.Mobile.Shared.Views._AP_Appointment, oModel)
    }
    @Html.Partial(MVC.Mobile.Shared.Views._P_DetailInfo, Model)
    @Html.Partial(MVC.Mobile.Shared.Views._P_Map, Model)
}
