<div class="MPHeaderMainWrapper">

    <div class="MPHeaderTopWrapper">
        <div></div>
        <div class="MPRightTopMenu">
            <span class="MPHeadertopMenuLeftEnd"></span>
            <div class="MPHeaderTopMenuSoyDoc"><a class="MPHeaderTopMenuSoyDocLink" title="Ingreso para doctores" href="https://admin.saludguru.com.co">Soy doctor</a></div>
            <div class="MPHeadertopMenuCiudad">| Ciudad:</div>
            <select id="selGlobalCity">
                @{
                    var oBaseController = ViewContext.Controller as MarketPlace.Web.Controllers.BaseController;

                    foreach (KeyValuePair<int, string> item in MarketPlace.Web.Controllers.BaseController.EnabledCities)
                    {
                        if (item.Key == oBaseController.CurrentCookie.CurrentCity)
                        {
                            <option value="@item.Key" selected="selected" itemname="@MarketPlace.Web.Controllers.BaseController.RemoveAccent(item.Value)">@item.Value</option>
                        }
                        else
                        {
                            <option value="@item.Key" itemname="@MarketPlace.Web.Controllers.BaseController.RemoveAccent(item.Value)">@item.Value</option>
                        }
                    }
                }
            </select>

            @if (MarketPlace.Models.General.SessionModel.UserIsLoggedIn)
            {
                <!--Render user login options-->
                <div class="MPHeaderTopMenuUserName" onclick="javascript: Header_ShowHideUserMenu('divUserMenu');">
                    <label> | Que bueno verte! @(MarketPlace.Models.General.SessionModel.CurrentLoginUser.Name)</label>
                    <img src="@MarketPlace.Models.General.SessionModel.CurrentLoginUser.ExtraData.Where(x => x.InfoType == SessionController.Models.Auth.enumUserInfoType.ImageProfile).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()" />
                </div>
                <!--pop up user option menu-->
                <div id="divUserMenu" style="display:none;">
                    <ul>
                        @*<li>
                                <a href="@Url.Action(MVC.UserProfile.ActionNames.Index,MVC.UserProfile.Name)">Mis datos</a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.UserProfile.ActionNames.FamilyGroup, MVC.UserProfile.Name)">Mi grupo familiar</a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.UserProfile.ActionNames.ProfileList, MVC.UserProfile.Name)">Mis especialistas</a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.UserProfile.ActionNames.Treatment, MVC.UserProfile.Name)">Mis tratamientos</a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.UserProfile.ActionNames.Notification, MVC.UserProfile.Name)">Mis notificaciones</a>
                            </li>*@
                        <li>
                            <a href="@Url.Action(MVC.Home.ActionNames.LogOutUser, MVC.Home.Name)" rel="nofollow">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                //get login urls
                string RetUrl = (ViewContext.Controller as MarketPlace.Web.Controllers.BaseController).CurrentDomainUrl;
                string FBUrl = MarketPlace.Models.General.InternalSettings.Instance
                    [MarketPlace.Models.General.Constants.C_Settings_Login_FBUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                    .Value.Replace("{{UrlRetorno}}", RetUrl);

                string GoogleUrl = MarketPlace.Models.General.InternalSettings.Instance
                    [MarketPlace.Models.General.Constants.C_Settings_Login_GoogleUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                    .Value.Replace("{{UrlRetorno}}", RetUrl);

                string OutlookUrl = MarketPlace.Models.General.InternalSettings.Instance
                    [MarketPlace.Models.General.Constants.C_Settings_Login_WindowsLiveUrl.Replace("{{AreaName}}", MarketPlace.Web.Controllers.BaseController.AreaName)]
                    .Value.Replace("{{UrlRetorno}}", RetUrl);

                <!--Render autentications-->
                <span class="MPHeaderTopMenuIngresar"> | Ingresar con:</span>
                <a class="MPGoogleLogIn" title="Ingresa con tu cuenta de Google +" href="@GoogleUrl" rel="nofollow"></a>
                <a class="MPFacebookLogIn" title="Ingresa con tu cuenta de Facebook" href="@FBUrl" rel="nofollow"></a>
                <a class="MPHeaderTopMas" href="javascript:Header_ShowHideLoginMenu('ulLoginMoreOptions');"></a>
                <ul id="ulLoginMoreOptions" style="display:none;">
                    <li><a href="@GoogleUrl" title="Ingresa con tu cuenta de Google +" rel="nofollow">Google</a></li>
                    <li><a href="@FBUrl" title="Ingresa con tu cuenta de Facebook" rel="nofollow">Facebook</a></li>
                    <li><a href="@OutlookUrl" title="Ingresa con tu cuenta de Hotmail" rel="nofollow">Outlook</a></li>
                </ul>
            }
        </div>
    </div>
    <div class="MPHeaderSearchWrapper">
        <!--image guru-->
        @if (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Profile.Name &&
            MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Profile.ActionNames.FBProfile)
        {
            <a class="MPSGlogo" title="agenda tus citas médicas online a través de Salud Gurú" target="_blank" href="@Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Home, null)"></a>
        }
        else
        {
            <a class="MPSGlogo" title="agenda tus citas médicas online a través de Salud Gurú" href="@Url.RouteUrl(MarketPlace.Models.General.Constants.C_Route_Home, null)"></a>
        }


        <!--search box-->
        @if ((MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Home.Name &&
            MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Home.ActionNames.Index) ||
            (MarketPlace.Web.Controllers.BaseController.CurrentControllerName == MVC.Profile.Name &&
            MarketPlace.Web.Controllers.BaseController.CurrentActionName == MVC.Profile.ActionNames.FBProfile)) { }
        else
        {
            <span>Busca un especialista por nombre, especialidad o seguro completamente gratis</span>
            <div>
                <input type="text" id="inSearchBoxProfile" placeholder="Buscar por nombre, especialidad o seguro" />
                <a title="Encuentra un profesional de la salud por nombre, especialidad o seguro completamente gratis" href="javascript:SearchBoxObject.SearchTerm();"></a>
            </div>
        }
    </div>
</div>