<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @*Render bondles styles*@
    @Styles.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/content/css")
    @Styles.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/content/jquery/css")
    @Styles.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/content/kendo/css")
</head>
<body>

    <div>
        @Html.Partial(MVC.Web.Shared.Views._L_Header)
    </div>

    <!--Start internal content-->
    <div>
        @RenderBody()
    </div>
    <!--Start footer content-->
    <div>
        @Html.Partial(MVC.Web.Shared.Views._L_Footer)
    </div>


    @*Render boundles scripts*@
    @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/jquery")
    @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/jqueryval")
    @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/modernizr")
    @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/bootstrap")
    @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/bundles/kendo")
    @Scripts.Render("~/" + MarketPlace.Web.Controllers.BaseController.AreaName + "/sitescripts")

    @*Render inline site scripts*@
    @RenderSection("inlinescripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            InitGlobalPagesControls();
        });
    </script>

</body>
</html>

