@model MarketPlace.Models.Profile.ProfileViewModel

@{
    //get is certified
    var ovIsCertified = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.IsCertified).
            Select(x => Convert.ToBoolean(x.Value)).
            DefaultIfEmpty(false).
            FirstOrDefault();

    //get default specialty
    var ovDefaultSpecialty = Model.CurrentProfile.DefaultSpecialty != null ?
            Model.CurrentProfile.DefaultSpecialty :
            (Model.CurrentProfile.RelatedSpecialty != null ?
            Model.CurrentProfile.RelatedSpecialty.FirstOrDefault() :
            null);

    //get WebSite info
    var ovWebSite = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.Website).
            Select(x => (x.Value.StartsWith("http") ? string.Empty : "http://") + x.Value).
            FirstOrDefault();

    //get facebook profile
    var ovFacebook = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.FacebookProfile).
            Select(x => (x.Value.StartsWith("http") ? string.Empty : "http://") + x.Value).
            FirstOrDefault();

}

@if (!Model.RenderScripts)
{

    <div class="MPProfileInfo_BasicInfo">
        @if (ovIsCertified)
        {
                <!--certified image-->
            <img src="@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Profile_CertifiedImage].Value)" />
        }
        @if (ovDefaultSpecialty != null && !string.IsNullOrEmpty(ovDefaultSpecialty.Name))
        {
                <!--Principal specialty-->
            <span>@ovDefaultSpecialty.Name</span>
        }

        <!--Related Insurance-->
        <span>@string.Join(", ", Model.CurrentProfile.RelatedInsurance.Select(x => x.Name))</span>
    </div>
        <!--Social Profile-->
    <div class="MPProfileInfo_Social">
        @if (!string.IsNullOrEmpty(ovWebSite))
        {
            <a href="@ovWebSite" target="_blank">
                <img src="@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Profile_WebsiteIcon].Value)" />
                <span>Página Web</span>
            </a>
        }
        @if (!string.IsNullOrEmpty(ovFacebook))
        {
            <a href="@ovFacebook" target="_blank">
                <img src="@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_Profile_FacebookIcon].Value)" />
                <span>Facebook</span>
            </a>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=@(Html.Encode(ovFacebook));width=300&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=508552919266572" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        }
        else
        {
            <iframe src="//www.facebook.com/plugins/likebox.php?href=@(MarketPlace.Models.General.InternalSettings.Instance[MarketPlace.Models.General.Constants.C_Settings_SaludGuru_FacebookProfile].Value);width=300&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=508552919266572" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        }
    </div>
}
