@model BackOffice.Models.Profile.ProfileUpSertModel
@{
    ViewBag.Title = "Specialty";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
<div class="BOProfileMenuWrapper">
    @Html.Partial(MVC.Web.Shared.Views._P_ProfileMenu, Model.Profile)
</div>
<div class="BOProfileFormWrapper">
    <h3>Agregar Especialidades para este Profesional</h3>
    <div id="divGridSpecialtyProfile"></div>
</div>
<div id="templates" style="display:none;">
    <div id="templateCreate">
        <form method="post" action="@Url.Action(MVC.Profile.ActionNames.ProfileSpecialtyUpsert, MVC.Profile.Name,
                                    new { ProfilePublicId = Model.Profile.ProfilePublicId })">
            <ul class="BOEditDaySetUp">
                <li>
                    <label>Especialidad</label>
                    <input type="hidden" id="Specialty-id" name="Specialty-id" value="" />
                    <input type="text" id="Specialty" name="Specialty" value="" />
                    @{
                        //get json treatment
                        string oSpecialtyData = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                            Serialize(Model.SpecialtyToSelect.
                            Select(x => new
                            {
                                label = x.Name,
                                value = x.CategoryId,
                            }).ToList());
                    }
                </li>
                <li>
                    <label>Principal</label>
                    <input type="checkbox" id="IsDefault" name="IsDefault" />
                </li>
                @{
                    if (BackOffice.Models.General.SessionModel.CurrentUserAutorization.Role != SessionController.Models.Profile.enumRole.ProfileOperator)
                    {
                        <li class="BOButtonContainerShort">
                            <!-- hiden fields -->
                            <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                            <input id="Add" class="BOAgregarButtons" type="submit" value="Agregar" />
                        </li>
                    }
                }
            </ul>
        </form>
    </div>

    <div id="templateDelete">
        @{
            if (BackOffice.Models.General.SessionModel.CurrentUserAutorization.Role != SessionController.Models.Profile.enumRole.ProfileOperator)
            {
                <form method="post" action="@(Url.Action(MVC.Profile.ActionNames.ProfileSpecialtyDelete, MVC.Profile.Name,
                                    new
                                    {
                                        ProfilePublicId = Model.Profile.ProfilePublicId
                                    }))">
                    <!-- hiden fields -->
                    <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                    <input type="hidden" id="CategoryId" name="CategoryId" value="${CategoryId}" />
                    <input class="BOButtonsErase" type="submit" value="Borrar" />
                </form>
            }
        }
    </div>
</div>

@{
    //get json office data
    string oSpecialtyProfile = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(Model.Profile.RelatedSpecialty.
            Select(x => new
            {
                CategoryId = x.CategoryId,
                IsDefault = x.CategoryId != null ? Model.Profile.DefaultSpecialty.CategoryId != null ? x.CategoryId == Model.Profile.DefaultSpecialty.CategoryId ? "Si" : "No" : "No" : "No",
                Name = x.Name
            }).ToList());
}
@section inlinescripts
{
    <script type="text/javascript">
        var vDataAutorizationProfile = @Html.Raw(oSpecialtyProfile)
            $(document).ready(function () {
                //start office grid
                ProfileSpecialtyListGrid('divGridSpecialtyProfile', vDataAutorizationProfile);
                var vDataSpecialty = @Html.Raw(oSpecialtyData)

                //start office grid
                OfficeSpecialtyAc('Specialty', vDataSpecialty);

                //Validate specialty
                $("#Add").on("click", function () {
                    var val = $("#Specialty-id").prop('value');
                    if (val == null || val == "") {
                        ValidatePopUp("Specialty-id", "La especialidad que desea agregar no existe actualmente en nuestra base de especialidades, " + " \n " + " para agregarla por favor comunicarse con el área de soporte.", "Add")
                        return false;
                    }
                });
            });
    </script>
}