@model BackOffice.Models.Profile.ProfileUpSertModel
@{
    ViewBag.Title = "TreatmentProfileList";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}
<div class="BOProfileMenuWrapper">
    @Html.Partial(MVC.Web.Shared.Views._P_ProfileMenu, Model.Profile)
</div>

<div class="BOProfileFormWrapper">
    <h3>Agregar Tratamientos para este Profesional</h3>
    <div id="divGridTreatmentProfile"></div>
</div>
<div id="dialog" title="Error">
    <p>

    </p>
</div>

<div id="templates" style="display:none;">
    <div id="templateCreate">
        <form method="post" action="@(Url.Action(MVC.Profile.ActionNames.TreatmentProfileUpsert, MVC.Profile.Name,
                                        new { ProfilePublicId = Model.Profile.ProfilePublicId }))">
            <ul class="BOEditDaySetUp">
                <li>
                    <label>Tratamientos</label>
                    <input type="hidden" id="Treatment-id" name="Treatment-id" value="" />
                    <input type="text" id="Treatment" name="Treatment" value="" />
                    @{
                        //get json treatment
                        string oTreatmentData = (new System.Web.Script.Serialization.JavaScriptSerializer()).
                            Serialize(Model.TreatmentToSelect.
                                Select(x => new
                                {
                                    label = x.Name,
                                    value = x.CategoryId,
                                }).ToList());
                    }
                </li>
                @{
                    if (BackOffice.Models.General.SessionModel.CurrentUserAutorization.Role != SessionController.Models.Profile.enumRole.ProfileOperator)
                    {
                        <li class="BOButtonContainerShort">
                            <!--hiden fields-->
                            <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                            <input id="Add" class="BOAgregarButtons" type="submit" value="Agregar" />
                        </li>
                    }
                }
            </ul>
        </form>
    </div>
    <div id="templateDelete">
        @{
            if (BackOffice.Models.General.SessionModel.CurrentUserAutorization.Role != SessionController.Models.Profile.enumRole.ProfileOperator)
            {
                <form method="post" action="@(Url.Action(MVC.Profile.ActionNames.TreatmentProfileDelete, MVC.Profile.Name,
                new
                {
                    ProfilePublicId = Model.Profile.ProfilePublicId
                }))">
                    <!--hiden fields-->
                    <input type="hidden" name="UpsertAction" id="UpsertAction" value="true" />
                    <input type="hidden" id="CategoryId" name="CategoryId" value="${CategoryId}" />
                    <input class="BOButtonsErase" type="submit" value="Borrar" />

                </form>
            }
        }
    </div>
</div>

@{
    //get json office data
    string oTreatmentProfile = (new System.Web.Script.Serialization.JavaScriptSerializer()).
        Serialize(Model.Profile.RelatedTreatment.
            Select(x => new
            {
                CategoryId = x.CategoryId,
                Name = x.Name
            }).ToList());
}
@section inlinescripts
{
    <script type="text/javascript">
        var vDataTreatmentProfile = @Html.Raw(oTreatmentProfile)

            $(document).ready(function () {
                //start office grid
                ProfileTreatmentListGrid('divGridTreatmentProfile', vDataTreatmentProfile);

                var oTreatmentData = @Html.Raw(oTreatmentData)
                ProfileTreatmentAc('Treatment', oTreatmentData);
            });

        $("#Add").click(function () {
            debugger;
            var val = $("#Treatment-id").prop('value');
            if (val == null || val == " ") {
                $(function () {
                    $("#dialog").dialog({
                        autoOpen: false,
                        show: {
                            effect: "blind",
                            duration: 1000
                        },
                        hide: {
                            effect: "explode",
                            duration: 1000
                        }
                    });
                    $("#opener").click(function () {
                        $("#dialog").dialog("open");
                    });
                });
            }
        });
        $(function () {
            $("#dialog").dialog({

                autoOpen: false,
                show: {
                    effect: "clip",
                    duration: 500
                },
                hide: {
                    effect: "blind",
                    duration: 500
                }
            });
            $("#Add").click(function () {
                debugger;
                var val = $("#Treatment-id").prop('value');
                if (val == null || val == "") {
                    $("#dialog").text('test');
                    $("#dialog").dialog("open");
                    return false;
                }
            });
        });
    </script>
}