@model BackOffice.Models.Appointment.ExternalAppointmentViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SaludGuru - Confirmar asistencia</title>

    <style>
        html, body {
            margin: 0px;
            height: 100%;
        }

        .Content {
            /*border: 2px solid red;*/
            display: block;
            background: linear-gradient(#fff, #ececec);
            min-width: 500px;
            height: 100%;
        }

        /*Estilos de header de página*/

        .Header {
            /*border: 1px solid blue;*/
            height: auto;
        }

            .Header img {
                width: 100px;
                height: auto;
                margin: 2% 0px 0px 1%;
            }

        /*Estilos de informacion del perfil*/

        .ProfileInfo {
            /*border: 1px solid green;*/
            height: auto;
            width: 80%;
            margin: 10px 0px 5px 10%;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
            background: linear-gradient(#fff, #ececec);
        }

            .ProfileInfo img {
                width: 100px;
                margin: 10px 0px 0px 10px;
                display: inline-block;
            }

            .ProfileInfo h1 {
                width: 50%;
                display: block;
                margin: -100px 0px 0px 130px;
                font-size: 26px;
                color: #99c21d;
                font-family: "MuseoSans100","Trebuchet MS", Helvetica, sans-serif;
            }

            .ProfileInfo h2 {
                width: 90%;
                display: block;
                margin: 0px 0px 0px 130px;
                line-height: 21px;
                font-size: 18px;
                text-align: justify;
                font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
            }

            .ProfileInfo p {
                width: 90%;
                margin: 60px 0px 0px 20px;
                text-align: justify;
                line-height: 21px;
                font-size: 17px;
                font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
            }

        /*Estilos para las opciones*/

        .Options {
            /*border: 1px solid brown;*/
            width: 60%;
            min-width: 250px;
            height: auto;
            margin: 10px 0px 5px 22%;
        }

        .Buttoms {
            /*border: 1px solid green;*/
            width: 100%;
            text-align: center;
        }

        .ConfirmButtom, .CancelButtom {
            display: inline-block;
            text-decoration: none;
        }

        .ConfirmButtom {
            /*border: 1px solid #333;*/
            border-radius: 3px;
            padding: 5px 12px;
            cursor: pointer;
            background-color: #5c9b00;
            text-transform: uppercase;
            font-family: 'MuseoSans100';
            font-size: 20px;
            line-height: 20px;
            color: #fff;
            box-shadow: #000 2px 2px 3px;
        }

        .CancelButtom {
            margin: 0px 0px 0px 6%;
            /*border: 1px solid #333;*/
            border-radius: 3px;
            padding: 5px 12px;
            cursor: pointer;
            background-color: #E74949;
            text-transform: uppercase;
            font-family: 'MuseoSans100';
            font-size: 20px;
            line-height: 20px;
            color: #fff;
            box-shadow: #000 2px 2px 3px;
        }

        .Options label {
            width: 100%;
            display: block;
            margin: 7px 0px 7px 0px;
            text-align: center;
            line-height: 21px;
            font-size: 18px;
            font-family: "MyriadPro","Trebuchet MS", Helvetica, sans-serif;
        }
    </style>
</head>
<body>

    @{

        string ImgProfile = Model.CurrentProfile.ProfileInfo.
            Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.ImageProfileLarge).
            Select(x => x.Value).
            DefaultIfEmpty(string.Empty).
            FirstOrDefault();

        string ProfileUrl = BackOffice.Models.General.InternalSettings.Instance
            [BackOffice.Models.General.Constants.C_Settings_Profile_MarketPlaceUrl].Value.
            Replace("{ProfileName}",
            BackOffice.Web.Controllers.BaseController.RemoveAccent
                (Model.CurrentProfile.Name + " " + Model.CurrentProfile.LastName)).
                Replace("{ProfilePublicId}",
                Model.CurrentProfile.ProfilePublicId).
                Replace("{SpecialtyName}", !string.IsNullOrEmpty(Model.CurrentProfile.DefaultSpecialty.Name) ?
                BackOffice.Web.Controllers.BaseController.RemoveAccent(Model.CurrentProfile.DefaultSpecialty.Name) : string.Empty); }

    <div class="Content">
        <div class="Header">
            <img src="/Areas/Web/Content/Images/logoSaludGuruSmall.png" />
        </div>
        <div class="ProfileInfo">
            <img src="@ImgProfile" />
            <h1><a href="@ProfileUrl">@(Model.CurrentProfile.Name + " " + Model.CurrentProfile.LastName)</a></h1>
            <h2>@(!string.IsNullOrEmpty(Model.CurrentProfile.DefaultSpecialty.Name) ? Model.CurrentProfile.DefaultSpecialty.Name : string.Empty)</h2>
            <p>Usted tiene una cita en la oficina @Model.CurrentAppointment.OfficeName el @Model.CurrentAppointment.StartDate.ToString("ddd dd \\de MMMM del yyyy a las hh:mm tt", System.Globalization.CultureInfo.CreateSpecificCulture("ES-co"))</p>
        </div>
        <div class="Options">
            <div class="Buttoms">
                <a title="Confirmar" class="ConfirmButtom" href="@Url.Action(MVC.ExternalAppointment.ActionNames.Confirm, MVC.ExternalAppointment.Name, new { AppointmentPublicId  = Model.CurrentAppointment.AppointmentPublicId})">
                    Confirmar
                </a>
                <a title="Cancelar" class="CancelButtom" href="@Url.Action(MVC.ExternalAppointment.ActionNames.Cancel, MVC.ExternalAppointment.Name, new { AppointmentPublicId  = Model.CurrentAppointment.AppointmentPublicId})">
                    Cancelar
                </a>
            </div>
            <label>Deseas visitar el perfil del doctor, click aquí</label>
        </div>
    </div>
</body>
</html>
