@model BackOffice.Models.Appointment.SchedulingModel
@{
    ViewBag.Title = "SaludGuru - agenda semana";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;
}

<div class="BOAgendaModuleGreatWrapper">
    <div class="BOAgendaCalendarWrapper">
        <!--Calendar by month-->
        @Html.Partial(MVC.Web.Shared.Views._AP_Calendar, Model)

        <!--create edit appointment-->
        @Html.Partial(MVC.Web.Shared.Views._AP_UpsertAppointment, Model)
    </div>

    <!--Meeting Calendar-->
    @Html.Partial(MVC.Web.Shared.Views._AP_MeetingCalendar, Model)
</div>
@{Model.RenderScripts = true;}
@section inlinescripts
{
    @Html.Partial(MVC.Web.Shared.Views._AP_Calendar, Model)
    @Html.Partial(MVC.Web.Shared.Views._AP_MeetingCalendar, Model)
    @Html.Partial(MVC.Web.Shared.Views._AP_UpsertAppointment, Model)
}


