@model MarketPlace.Models.Profile.ProfileViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;

    bool ScheduleEnabled = Model.CurrentProfile.ProfileInfo.
        Where(x => x.ProfileInfoType == SaludGuruProfile.Manager.Models.enumProfileInfoType.AgendaOnline).
        Select(x => x.Value == "true" ? true : false).
        DefaultIfEmpty(false).
        FirstOrDefault();
}
<div class="MPProfileGreatWrapper">
    <div class="MPProfileColumnsWrapper">
        @if (ScheduleEnabled)
        {
            @*Metting enabled*@

            <div class="MPProfileLeftWrapper">
                <!--Profile Basic Info-->
                @Html.Partial(MVC.Web.Shared.Views._P_BasicInfo, Model)
                <!--Profile Images-->
                <div class="MPProfileInfoImages">
                    @Html.Partial(MVC.Web.Shared.Views._P_ImageSlider, Model)
                </div>
                <!--Profile Description-->
                <div class="MPProfileInfoDetail">
                    @Html.Partial(MVC.Web.Shared.Views._P_DetailInfo, Model)
                </div>
            </div>
            <div class="MPProfileRigthWrapper">
                <!--Profile Schedule-->
                <div class="MPProfileScheduleCallendar">
                    @Html.Partial(MVC.Web.Shared.Views._P_Appointment, Model)
                </div>
                <!--Profile Map-->
                <div class="MPProfileMap">
                    @Html.Partial(MVC.Web.Shared.Views._P_Map, Model)
                </div>
            </div>
        }
        else
        {
            @*Metting disabled*@
            <div class="MPProfileLeftWrapper">
                <!--Profile Basic Info-->
                @Html.Partial(MVC.Web.Shared.Views._P_BasicInfo, Model)
                <!--Profile Images-->
                <div class="MPProfileInfoImages">
                    @Html.Partial(MVC.Web.Shared.Views._P_ImageSlider, Model)
                </div>
                <!--Profile Description-->
                @Html.Partial(MVC.Web.Shared.Views._P_DetailInfo, Model)
            </div>
            <div class="MPProfileRigthWrapper">
                <!--Not Schedule Image-->
                <div class="MPProfileInfoDetailProfile">
                    <ul>
                        <li class="MPProfileInfoDetailProfileNotSchedule">
                            <label>Este doctor no tiene agenda disponible</label>
                        </li>
                        <li>
                            <span>Quieres contactarte con el?</span>
                        </li>
                        <li>
                            @if (Model.CurrentProfile.RelatedOffice != null && Model.CurrentProfile.RelatedOffice.Count > 0)
                            {
                                foreach (var oOffice in Model.CurrentProfile.RelatedOffice)
                                {
                                    <div class="MPProfileOfficeContactSelector">
                                        <span class="OfficeContactAddress">Dirección: @oOffice.OfficeInfo.Where(x => x.OfficeInfoType == SaludGuruProfile.Manager.Models.enumOfficeInfoType.Address).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                                        <span class="OfficeContactTelephone">Telefono: @oOffice.OfficeInfo.Where(x => x.OfficeInfoType == SaludGuruProfile.Manager.Models.enumOfficeInfoType.Telephone).Select(x => x.Value).DefaultIfEmpty(string.Empty).FirstOrDefault()</span>
                                    </div>
                                }
                            }
                        </li>

                    </ul>
                </div>
                <!--Profile Map-->
                <div class="MPProfileMap">
                    @Html.Partial(MVC.Web.Shared.Views._P_Map, Model)
                </div>
            </div>
        }
    </div>
</div>

@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Web.Shared.Views._P_BasicInfo, Model)
    @Html.Partial(MVC.Web.Shared.Views._P_DetailInfo, Model)
    @if (ScheduleEnabled)
    {
        @Html.Partial(MVC.Web.Shared.Views._P_Appointment, Model)
    }
    @Html.Partial(MVC.Web.Shared.Views._P_ImageSlider, Model)
    @Html.Partial(MVC.Web.Shared.Views._P_Map, Model)

}
