@model MarketPlace.Models.Profile.ProfileViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";

    Model.RenderScripts = false;
}
    <div class="MPProfileGreatWrapper">
        <div class="MPProfileColumnsWrapper">
            @if (1 == 1)
            {
                @*Metting enabled*@

                <div class="MPProfileLeftWrapper">
                    <!--Profile Basic Info-->
                    <div class="MPProfileInfoInfo">
                        @Html.Partial(MVC.Web.Shared.Views._P_BasicInfo, Model)
                    </div>
                    <!--Profile Images-->
                    <div class="MPProfileInfoImages">
                        @Html.Partial(MVC.Web.Shared.Views._P_ImageSlider, Model)
                    </div>
                </div>
                <div class="MPProfileRigthWrapper">
                    <!--Profile Schedule-->
                    <div class="MPProfileSchedule">
                        @Html.Partial(MVC.Web.Shared.Views._P_Appointment, Model)
                    </div>
                    <!--Profile Map-->
                    <div class="MPProfileMap">
                        @Html.Partial(MVC.Web.Shared.Views._P_Map, Model)
                    </div>
                </div>
                <div class="MPProfileBottomWrapper">
                    <!--Profile Description-->
                    <div class="MPProfileInfoDetail">
                        @Html.Partial(MVC.Web.Shared.Views._P_DetailInfo, Model)
                    </div>
                </div>
            }
            else
            {
                @*Metting disabled*@
                <div class="MPProfileLeftWrapper">
                    <!--Profile Basic Info-->
                    <div class="MPProfileInfoInfo">
                        @Html.Partial(MVC.Web.Shared.Views._P_BasicInfo, Model)
                    </div>
                    <!--Profile Images-->
                    <div class="MPProfileInfoImages">
                        @Html.Partial(MVC.Web.Shared.Views._P_ImageSlider, Model)
                    </div>
                </div>
                <div class="MPProfileRigthWrapper">
                    <!--Profile Description-->
                    <div class="MPProfileInfoDetail">
                        @Html.Partial(MVC.Web.Shared.Views._P_DetailInfo, Model)
                    </div>
                    <!--Profile Map-->
                    <div class="MPProfileMap">
                        @Html.Partial(MVC.Web.Shared.Views._P_Map, Model)
                    </div>
                </div>
            }
            </div>
        </div>


    @*<!--Profile Basic Info-->
        <div class="MPProfileInfoWrapper">
            <!--Profile Images-->
            <div class="MPProfileInfoImages">
                @Html.Partial(MVC.Web.Shared.Views._P_ImageSlider, Model)
            </div>
            <!--Profile Basic Info Detail-->
            <div class="MPProfileInfoInfo">
                @Html.Partial(MVC.Web.Shared.Views._P_BasicInfo, Model)
            </div>
        </div>
        <!--Profile Description-->
        <div class="MPProfileInfoDetail">
            @Html.Partial(MVC.Web.Shared.Views._P_DetailInfo, Model)
        </div>
        <!--Profile Schedule-->
        <div class="MPProfileSchedule">
            @Html.Partial(MVC.Web.Shared.Views._P_Appointment, Model)
        </div>
        <!--Profile Map-->
        <div class="MPProfileMap">
            @Html.Partial(MVC.Web.Shared.Views._P_Map, Model)
        </div>
        <div class="MPProfileNotas">
            <div>Notas</div>
        </div>
        <div class="MPProfileTestimony">
            <div>Testimonios</div>
        </div>
        <div class="MPProfileVideos">
            <div>Videos</div>
        </div>*@

@{
    Model.RenderScripts = true;
}
@section inlinescripts
{
    @Html.Partial(MVC.Web.Shared.Views._P_BasicInfo, Model)
    @Html.Partial(MVC.Web.Shared.Views._P_DetailInfo, Model)
    @Html.Partial(MVC.Web.Shared.Views._P_Appointment, Model)
    @Html.Partial(MVC.Web.Shared.Views._P_ImageSlider, Model)
    @Html.Partial(MVC.Web.Shared.Views._P_Map, Model)

}
